In [1]:
import csv 
import numpy
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

bank = pd.read_csv("bank.csv",delimiter=";",header='infer')

LB  = LabelEncoder()

def GetMapplist(lb,df,para) :  #傳入encoder,dataframe,para(你要的欄位字串)
    lb.fit_transform(df[para])
    lb_name_mapping_month = dict(zip(lb.classes_, lb.transform(lb.classes_)))
    print(lb_name_mapping_month)


GetMapplist(LB,bank,'job')
#{'admin.': 0, 'blue-collar': 1, 'entrepreneur': 2, 'housemaid': 3, 'management': 4, 'retired': 5, 
#'self-employed': 6, 'services': 7, 'student': 8, 'technician': 9, 'unemployed': 10, 'unknown': 11}

GetMapplist(LB,bank,'marital')
#{'divorced': 0, 'married': 1, 'single': 2}

GetMapplist(LB,bank,'education')
#{'primary': 0, 'secondary': 1, 'tertiary': 2, 'unknown': 3}

GetMapplist(LB,bank,'default')
#{'no': 0, 'yes': 1}

GetMapplist(LB,bank,'housing')
#{'no': 0, 'yes': 1}

GetMapplist(LB,bank,'loan')
#{'no': 0, 'yes': 1}

GetMapplist(LB,bank,'contact')
#{'cellular': 0, 'telephone': 1, 'unknown': 2}

GetMapplist(LB,bank,'month')
#{'apr': 0, 'aug': 1, 'dec': 2, 'feb': 3, 'jan': 4, 'jul': 5, 'jun': 6, 'mar': 7, 'may': 8, 'nov': 9, 'oct': 10, 'sep': 11}

GetMapplist(LB,bank,'poutcome')
#{'failure': 0, 'other': 1, 'success': 2, 'unknown': 3}

GetMapplist(LB,bank,'y')
#{'no': 0, 'yes': 1}

bank['job'] = LB.fit_transform(bank['job'])
bank['marital'] = LB.fit_transform(bank['marital'])
bank['education'] = LB.fit_transform(bank['education'])
bank['default'] = LB.fit_transform(bank['default'])
bank['housing'] = LB.fit_transform(bank['housing'])
bank['loan'] = LB.fit_transform(bank['loan'])
bank['contact'] = LB.fit_transform(bank['contact'])
bank['month'] = LB.fit_transform(bank['month'])
bank['poutcome'] = LB.fit_transform(bank['poutcome'])
bank['y'] = LB.fit_transform(bank['y'])

#solution2
#bank['y'] = bank['y'].replace({'no':0,'yes':1})


bank.head(100)

{'admin.': 0, 'blue-collar': 1, 'entrepreneur': 2, 'housemaid': 3, 'management': 4, 'retired': 5, 'self-employed': 6, 'services': 7, 'student': 8, 'technician': 9, 'unemployed': 10, 'unknown': 11}
{'divorced': 0, 'married': 1, 'single': 2}
{'primary': 0, 'secondary': 1, 'tertiary': 2, 'unknown': 3}
{'no': 0, 'yes': 1}
{'no': 0, 'yes': 1}
{'no': 0, 'yes': 1}
{'cellular': 0, 'telephone': 1, 'unknown': 2}
{'apr': 0, 'aug': 1, 'dec': 2, 'feb': 3, 'jan': 4, 'jul': 5, 'jun': 6, 'mar': 7, 'may': 8, 'nov': 9, 'oct': 10, 'sep': 11}
{'failure': 0, 'other': 1, 'success': 2, 'unknown': 3}
{'no': 0, 'yes': 1}

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10,1,0,0,1787,0,0,0,19,10,79,1,-1,0,3,0
1,33,7,1,1,0,4789,1,1,0,11,8,220,1,339,4,0,0
2,35,4,2,2,0,1350,1,0,0,16,0,185,1,330,1,0,0
3,30,4,1,2,0,1476,1,1,2,3,6,199,4,-1,0,3,0
4,59,1,1,1,0,0,1,0,2,5,8,226,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,41,11,2,2,0,1567,0,0,0,1,5,291,2,-1,0,3,0
96,41,0,1,2,0,5426,1,0,2,14,8,149,2,-1,0,3,0
97,30,0,2,2,0,261,0,0,0,19,10,233,1,137,20,0,0
98,36,1,0,1,0,2843,0,0,0,12,3,473,1,182,1,2,0
99,31,10,2,0,0,406,0,0,0,4,3,736,1,-1,0,3,1